@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 32px;
  top: 22px;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.body2 {
  /* background: linear-gradient(135deg, #52d7ff, #26ffb7); */
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.headline {
  margin: 10px;
  color: white;
  font-size: 12px;
  text-align: justify;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 400;
}

.twitterLink {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 15px;
  z-index: 3;
}
.twitterLink svg {
  width: 25px;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .cursor{
    height: 20px;
    top: 12px;
  }
  .text-js{
    font-size: 15px;
  }
  .credit {
    bottom: 10px;
  }
}